body {
  margin: 0px;
}

/* Body Header */

#body-header {
  height: 330px;
  opacity: 0.9;
  background-image: url(src/img/bg_img.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 10px;
  border-radius: 15px;
}

/* Horizontal Lists */

.horizontal-list {
  list-style: none;
  padding-left: 0px;
}

.horizontal-list li {
  display: inline-block;
  margin: 0px 8px 8px 0px;
}

.horizontal-list li a {
  font-size: x-large;
  color: white;
  text-decoration: none;
  transition: color 0.5s, border-bottom 4s;
}

.horizontal-list li a:hover {
  color: lightgrey;
  border-bottom: 1px solid white;
}

.text-center {
  text-align: center;
}


/* Name */

#name {
  font-size: 50px;
  margin-top: 64px;
  margin-bottom: 28px;
  color: white;
}

/* social icons */

.logo li a img {
  height: 40px;
  width: 40px;
  /* margin-left: 8px;
    margin-right: 8px; */
  padding: 8px;
}

.logo li a:hover {
  color: greenyellow;
  box-shadow: 0px 0px 6px 4px;
  border-radius: 50%;
}

/* About */

#about {
  height: auto;
  width: 100%;
  position: relative;
}

#pp {
  height: 12rem;
  width: 12rem;
  margin: auto;
  margin-top: 4vh;
}

#pp img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid rgb(52, 202, 190);
  box-shadow: 0px 0px 8px 4px;
}

#para {
  font-size: 20px;
  font-family: system-ui;
  text-align: justify;
  margin: 40px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
}

/*Section Classes*/

section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

section:nth-child(2n) {
  background-color: white;
}

section:nth-child(2n + 1) {
  background-color: rgb(245, 245, 245);
}

.section-heading {
  width: auto;
  padding: 20px 10px 10px;
  font-weight: 400;
}

.section-heading span {
  font-size: 40px;
  color: #2857a4;
  display: inline-flex;
  padding-top: 10px;
  margin-right: 0.5rem;
}

.section-heading span img {
  /* font-size: 40px; */
  height: 30px;
  width: 30px;
  color: #2857a4;
  display: inline-flex;
  padding-top: 10px;
  margin-right: 0.5rem;
}

/*Skills Section*/

.skills-display {
  width: 70%;
  /*height: 100px;*/
  /*border: 2px solid black; 	*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
}

.skill-progress {
  width: auto;
  height: 1.55rem;
  background-color: rgb(175, 175, 175);
  border-radius: 0.8rem;
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid rgb(74, 100, 245);
  padding: 0.7px;
  box-shadow: 8px 8px 25px -10px;
}

.skill-progress > div {
  border-radius: 20px 0px 0px 20px;
}

.skill-name span {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 150;
  margin-inline-start: 10px;
  margin-inline-end: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 2px;
  padding-right: 8px;
}

/* Common Margin Classes */
.mb75px {
  margin-bottom: 75px;
}

/*common color classes */

.text-highlight {
  color: #2857a4;
  font-weight: 600;
}

.mb-blue {
  background-color: #2857a4;
}

.mb-green {
  background-color: rgb(28, 170, 28);
}

.mb-orange {
  background-color: rgb(243, 161, 8);
}

.mb-pink {
  background-color: palevioletred;
}

.mb-gray {
  background-color: rgb(63, 112, 131);
}

.mb-red {
  background-color: rgba(236, 43, 85, 0.705);
}

.mb-yellow-green {
  background-color: rgb(77, 7, 7);
}

.mb-blue-green {
  background-color: rgb(246, 177, 48);
}

.mb-black {
  background-color: rgb(29, 27, 27);
}

/*Percentage Classes */

.eighty-percent {
  width: 80%;
  height: inherit;
}

.seventy-five-percent {
  width: 75%;
  height: inherit;
}

.seventy-percent {
  width: 70%;
  height: inherit;
}

.sixty-five-percent {
  width: 65%;
  height: inherit;
}

/* Mail */

#box {
  height: 0;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

#box:target {
  height: auto;
  width: auto;
  /* top: 25%;
  left: 60%; */
  background-color: white;
  margin-left: 70%;
  margin-top: 200px;
  margin-right: 200px !important;
  border: 2px solid orange;
  padding: 10px;
  border-radius: 10px;
  text-align: right;
  color: black;
}

/* Education */

.timeline {
  position: relative;
  width: 75%;
  /* border: 1.5px solid #e21c60;
  box-shadow: 12px 12px 32px -15px; */
  border-radius: 30px;
  padding: 20px;
}

.timeline-box {
  position: relative;
  width: 40%;
  margin: 5px;
  left: 5%;
  min-height: 150px;
  /* border: 2px solid #736b68; */
  border: 1px solid #736b68;
  box-shadow: 8px 8px 25px -10px;
  border-radius: 20px;
  padding: 5px;
  background-image: url(src/img/bg.png);
  background-size: cover;
}

.timeline-box:nth-child(2n) {
  left: 53%;
}

#iitr:hover {
  color: black;
}
#nitrr:hover {
  color: black;
}
#sjs:hover {
  color: black;
}
#sjst:hover {
  color: black;
}

#iitr::before {
  display: inline-block;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 15px;
  background-size: cover;
  background-image: url(src/img/IITRoorkee.png);
}

#iitr {
  color: #2857a4;
  font-family: system-ui;
  font-size: 1.6rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: right;
}

#iitrd p {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 5px;
  text-align: right;
}

#nitrr::before {
  display: inline-block;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 15px;
  background-size: cover;
  background-image: url(src/img/NITRaipur.png);
}

#nitrr {
  color: #2857a4;
  font-family: system-ui;
  font-size: 1.6rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: left;
}

#nitrrd p {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 5px;
  text-align: left;
}

#sjst::before {
  display: inline-block;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 15px;
  background-size: cover;
  background-image: url(src/img/school.png);
}

#sjst {
  color: #2857a4;
  font-family: system-ui;
  font-size: 1.6rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: left;
}

#sjstd p {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 5px;
  text-align: left;
}

#sjs::before {
  display: inline-block;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 15px;
  background-size: cover;
  background-image: url(src/img/school.png);
}

#sjs {
  color: #2857a4;
  font-family: system-ui;
  font-size: 1.6rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: right;
}

#sjsd p {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 5px;
  text-align: right;
}

/* Internship & Training */

.outer {
  position: relative;
  width: 75%;
  /* border: 1.5px solid #e21c60;
  box-shadow: 12px 12px 32px -15px; */
  border-radius: 30px;
  padding: 20px;
}

.inner-box {
  position: relative;
  width: 87%;
  margin: 10px;
  margin-bottom: 20px;
  left: 5%;
  min-height: 190px;
  /* border: 2px solid #736b68; */
  border: 1px solid #736b68;
  box-shadow: 8px 8px 25px -10px;
  border-radius: 20px;
  padding: 5px;
  background-image: url(src/img/bg.png);
  background-size: cover;
}

.inner-last {
  position: relative;
  width: 40%;
  height: 40%;
  margin: 10px;
  left: 5%;
  min-height: 64px;
  /* border: 2px solid black; */
  border-radius: 20px;
  padding: 5px;
  background-image: url(src/img/bg.png);
  background-size: cover;
}

#int1 {
  color: #2857a4;
  font-family: system-ui;
  font-size: 1.7rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15%;
  text-align: left;
}

#int2 {
  color: #a42889;
  font-family: system-ui;
  font-size: 1.4rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5%;
  text-align: left;
}

.inner-box p {
  font-size: 16px;
  font-family: system-ui;
  text-align: justify;
  margin: 5px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1px;
}

#duration {
  font-size: 13px;
  font-family: system-ui;
  text-align: left;
  margin: 5px;
  margin-left: 5.5%;
  margin-right: 5%;
  font-weight: 600;
  padding: 0px;
  color: rgb(64, 100, 29);
}

#int2:hover {
  color: black;
}

/* Projects */

.pout {
  position: relative;
  width: 75%;
  /* border: 1.5px solid #e21c60; */
  /* box-shadow: 12px 12px 32px -15px; */
  border-radius: 30px;
  padding: 20px;
}

.pinl {
  position: relative;
  width: 55%;
  margin: 30px;
  margin-bottom: 20px;
  left: -10%;
  /* min-height: 200px; */
  /* border: 2px solid #736b68; */
  border: 1px solid #736b68;
  box-shadow: 8px 8px 25px -10px;
  border-radius: 20px;
  padding: 20px;
  background-image: url(src/img/bg.png);
  background-size: cover;
}

.pinr {
  position: relative;
  width: 55%;
  margin: 30px;
  margin-bottom: 20px;
  left: 45%;
  /* min-height: 250px; */
  /* border: 2px solid #736b68; */
  border: 1px solid #736b68;
  box-shadow: 8px 8px 25px -10px;
  border-radius: 20px;
  padding: 20px;
  background-image: url(src/img/bg.png);
  background-size: cover;
}

#pin1 {
  color: #a42889;
  font-family: system-ui;
  font-size: 1.4rem;
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin-left: 5px; */
  /* text-align: left; */
  display: inline;
}

#pin1:hover {
  color: black;
}

.pinr a img {
  display: inline;
  height: 14px;
  width: 18px;
  padding: 0px;
}

.pinr p {
  font-size: 16px;
  font-family: system-ui;
  text-align: justify;
  margin: 5px;
  margin-left: 5%;
  margin-right: 5%;
  /* padding: 20px; */
}

.pinl a img {
  display: inline;
  height: 14px;
  width: 18px;
  padding: 0px;
}

.pinl p {
  font-size: 16px;
  font-family: system-ui;
  text-align: justify;
  margin: 5px;
  margin-left: 5%;
  margin-right: 5%;
  /* padding: 20px; */
}

/* Contact Form */

#contact {
  background-color: #0abcf9;
  background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
  /*background-image: linear-gradient(50deg,#2857a4 0%, #5378b1 74%);*/
  /*background-image: linear-gradient(170deg,#2857a4 0%, #8496b2 74%);*/
  /*background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);*/
  /*background-image: linear-gradient(to right,#13226fe0, #5473a2e0, #434ba8e0);*/
  /*background-color: #13386fe0;*/
  color: white;
  padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
  color: white;
}

#contact-form {
  margin-left: 20%;
}

#contact-container {
  display: flex;
}

#my-details-container {
  width: 35%;
  margin-left: 6%;
}

#my-details-container h3 {
  color: white;
  font-weight: 550;
  font-size: 1.2rem;
  text-align: center;
}

#contact-form-container {
  width: 50%;
}

#my-details-container p {
  font-size: 16px;
  font-family: system-ui;
  text-align: justify;
  margin: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

#my-details-container span {
  font-size: 16px;
  font-family: system-ui;
  text-align: justify;
}

.my-details-info-container {
  margin-bottom: 20px;
  color: #d9dcdd;
}

.my-details-info-container span {
  /* margin-left: 0.4rem; */
  font-size: 0.95rem;
}

.my-details-info-container i {
  color: white;
}

.my-details-icon {
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
  margin-right: 0.5rem;
}

#contact-form input,
textarea {
  max-width: 90%;
  margin: 15px;
  padding: 4px 10px;
  border: 0px solid transparent;
  border-bottom: 2px solid white;
  /*#2857a4*/
  color: var(--contact-light-text-color);
  background: transparent;
  width: 90%;
  line-height: 1.6;
  font-size: 1.05rem;
}

#contact-form button[type="submit"] {
  background: transparent;
  /*#1a1a1a;*/
  font-size: 0.95rem;
  border: 2px solid white;
  margin-top: 5%;
  margin-left: 35%;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.8em 0.8em 0.78em;
  text-transform: uppercase;
}

#contact-form button:hover {
  background: white;
  color: #13386fe0;
}

#contact .social-icons li a i {
  font-size: 1.2rem;
  margin: 40px 10px 10px;
  padding: 10px 14px 20px 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.iiitaaa img {
  display: inline;
  height: 14px;
  width: 18px;
  padding: 0px;
}

ul li {
  font-family: system-ui;
}

/* Media Query */
/* 
@media only screen and (max-width: 572px) {
    
  .timeline-box {
      width: 100%;
      left: 10% !important;
  }

  .bars {
      display: block;
  }
  
  
  .nav-menu {
      display: none;
  } 
}



@media only screen and (max-width: 768px) {


  .timeline-box {
      width: 90%;
      left: 10% !important;
  }

  .timeline-box::after {
      left: -9.3% !important;
  }

  #timeline-divider {
      top: 10%;
      left: 2%;
  }

  #contact-form {
      margin-left: 0%;
  }

  #contact-container {
      flex-wrap: wrap;
  }

  #my-details-container {
      width: 80%;
      margin: 10%;
  }

  #contact-form-container {
      width: 80%;
      margin: 10%;
  }

} */
